<div id="my-profile" data-user="<%= raw @user.to_json(include: { audio_files: { only: :url } }) %>">
  <!-- Данные о пользователе передаются как атрибут data-user -->
</div>

<div id="myProfile-page"></div> <!-- Это место, куда будет монтироваться компонент HomePage -->
